.root {
    height: fit-content;
    background: #fff;
    border-radius: 4px;

    .calendar {
        padding: 32px;
        border-bottom: 2px solid #ccc;
    }

    .events {
        padding: 32px 16px;
    }
}